<p-fileUpload name="languages[]" [multiple]="true" #fu
accept=".json" [customUpload]="true" chooseLabel="Seleccionar archivos de lenguaje" cancelLabel="Limpiar"
(onSelect)="handleSelectFile($event.currentFiles)" [showUploadButton]="false" chooseStyleClass="p-button-help">
  <ng-template let-language pTemplate="language" let-i="index">
    <div class="flex gap-2 mt-1">
      <div class="flex-1">{{ files[i].name }}</div>
      <div class="flex-1">
        <p-dropdown [options]="languages" optionLabel="name" optionValue="code" [(ngModel)]="files[i].language" appendTo="body"
        styleClass="w-full"></p-dropdown>
      </div>
    </div>
  </ng-template>
</p-fileUpload>
<div class="" *ngIf="files && files.length > 0">
  <label for="principal" class="mb-2">Idioma principal</label>
  <p-dropdown [options]="files" optionLabel="languageName" optionValue="language" [(ngModel)]="principal" appendTo="body"
  styleClass="w-full"></p-dropdown>
</div>
<p-divider></p-divider>
<div class="flex justify-content-between mt-4">
  <button pButton pRipple class="p-button-secondary" label="Cancelar" (click)="close()"></button>
  <button pButton pRipple class="p-button-primary" label="Importar" icon="pi pi-upload" (click)="process()"
  [disabled]="!files || files.length == 0" [loading]="importing"></button>
</div>
