<button pButton class="p-button-help" icon="pi pi-plus" label="Agregar idioma" (click)="addLanguage()"></button>
<p>Seleccione el idioma y marque el idioma principal a trabajar con el boton de la izquierda</p>
<div class="mt-2 flex gap-2" *ngFor="let it of iterator; let i = index">
  <div class="flex align-items-center">
    <p-radioButton name="principal" [value]="i" [(ngModel)]="principalIndex"></p-radioButton>
  </div>
  <p-dropdown [options]="languages" optionLabel="name" optionValue="code" [filter]="true" filterBy="name"
  [(ngModel)]="it.lng" appendTo="body" placeholder="Selecione un idioma" styleClass="w-full" class="flex-1"></p-dropdown>
  <button pButton class="p-button-danger" icon="pi pi-trash" title="Eliminar" (click)="removeLanguage(i)"></button>
</div>
<p-divider></p-divider>
<div class="flex justify-content-between mt-4">
  <button pButton pRipple class="p-button-secondary" label="Cancelar" (click)="close()"></button>
  <button pButton pRipple class="p-button-primary" label="Aceptar" icon="pi pi-check-circle" (click)="process()"></button>
</div>
