html,
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
input[type="file"] {
  display: none;
}
.p-splitter {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  height: 100%;
}
.p-splitter .p-splitter-panel {
  flex-direction: column;
  overflow: auto;
}

.po-main-menu .p-menubar {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0;
  height: 3.5rem;
  font-size: 1.2rem;
}
.po-main-menu .po-main-logo {
  width: 3em;
  padding: .3em;
  margin-right: .6em;
}
.po-main-menu .po-main-logo img {
  width: 100%;
}
.po-main-menu .p-menubar p-menubarsub {
  display: contents;
}
.po-main-menu .p-menubar .p-menubar-root-list {
  height: 100%;
  width: 100%;
}
.po-main-menu .p-menubar .p-menuitem {
  height: 100%;
  display: flex;
}
.po-main-menu .p-menubar .p-menuitem .p-menuitem-link {
  border-radius: 0!important;
  width: 3em;
  padding: 0;
}
.po-main-menu .p-menubar .p-menuitem .p-menuitem-icon {
  font-size: 1.5em;
  margin: auto!important;
}
.po-main-menu .p-menubar .p-menu-separator {
  border: none;
  clear: none;
  margin-right: auto;
  margin-left: auto;
}

.po-sape .p-menubar {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0;
  height: 45px;
}
.po-sape .p-menubar .p-menuitem .p-menuitem-link {
  border-radius: 0!important;
}
.po-sape .p-menubar .p-menuitem.active {
  background-color: var(--primary-color);
}
.po-sape .p-menubar .p-menuitem.active .p-menuitem-icon,
.po-sape .p-menubar .p-menuitem.active .p-menuitem-text {
  color: var(--primary-color-text);
}

.p-fileupload .p-fileupload-content,
.p-fileupload .p-fileupload-buttonbar {
  border: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
.p-fileupload .p-fileupload-buttonbar {
  padding-bottom: .5rem;
}
.p-fileupload .p-fileupload-content .p-progressbar {
  display: none;
}

.p-tree {
  padding: 0!important;
  height: 100%;
  border: 0;
}
.p-tree .p-treenode {
  font-size: .8rem;
}
.p-tree .p-treenode .p-tree-toggler {
  width: 1rem!important;
  height: 1rem!important;
}
.p-tree .p-treenode .p-tree-toggler .p-tree-toggler-icon {
  font-size: .8rem;
}
.p-tree .p-tree-filter {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.p-tree .p-tree-filter-container {
  margin: 0;
  height: 37px;
}
.p-tree .p-tree-wrapper {
  height: calc(100% - 37px);
  padding-top: 5px;
}
.p-tree .p-treenode-content {
  padding: .2rem!important;
}
.p-tree .p-treenode-label {
  flex: 1;
}
.p-tree .p-treenode.po-cutted .p-treenode-label {
  opacity: .5;
}
.p-breadcrumb {
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.po-hidden {
  opacity: 1;
}
.po-translation-provider-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.po-translation-provider-tab .p-tabview-nav-content {
  padding: .5rem .5rem 0;
}
.po-translation-provider-tab .p-tabview-panels {
  flex: 1;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}
